.navbar-inverse {
  background-color: #f44336;
  border-color: #f44336;
}
.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}
.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
}
.navbar-inverse .navbar-nav>.active>a{
    color: #000;
    background-color: #fff;
}
